global:
  resolve_timeout: 5m

route:
  receiver: local-log
  group_by: ["alertname", "service", "severity"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 2h

receivers:
  - name: local-log
